:root {
  --primary-color: #fcd34d;
  --secondary-yellow: #fde68a;
  --button-blue: #3b82f6;
  /* --button-border: #1e3a8a; */
}

body {
  margin: 0px;
  background-color: var(--primary-color);
}

h1 {
  margin: 0px;
  padding: 1.5rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 2rem auto;
}

#input {
  display: block;
  margin: 1rem auto;
  min-height: 20vh;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-yellow);
  border: 2px solid black;
  font-size: medium;
  resize: none;
}

button:hover {
  background-color: var(--button-blue);
  color: white;
}

#btn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid var(--button-blue);
  border-radius: 6px;
  font-size: medium;
}

#output {
  display: block;
  margin: 1rem auto;
  border: 2px solid black;
  min-height: 20vh;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--secondary-yellow);
  font-size: medium;
}
